SUPABASE_URL=https://etwlurpjrqlvrxgsbhkd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
METAAPI_TOKEN=
METAAPI_MASTER_ACCOUNT_ID=a8a6ee2b-ea54-4c9d-8d98-4c442d3b0b32
ADMIN_KEY=
APP_ENV=production
PORT=8000
TIMEZONE=Asia/Bangkok
LOG_LEVEL=INFO
